
#produits {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #EEE;
    margin: 30px;
    padding: 10px;
  }

#ours1, #ours2, #cameras, #meubles{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

form > #quantite{
    width:20px;
    text-align: center;
}

.cartbox{
  margin-left:1000px;
  display: flex;
}
#cart{
  margin-left: 10px;
}

#info{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}