
.produits {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #EEE;
    margin: 30px;
    padding: 10px;
  }

#ours,#cameras, #meubles{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

form > #quantite{
    width:20px;
    text-align: center;
}

.cartbox{
  margin-left:400px;
  display: flex;
}
#cart{
  margin-left: 10px;
}